
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.logo{
    color: white;
    position: relative;
     display: flex;
     justify-content: start;
}
  h1{
    font-family: 'Headland One',Static;
  }
  .image img{
     width: 100%;
     height: 500px;
     object-fit: cover;
     
  }
    a{
        text-decoration: none;
        color: rgb(37, 37, 37);
    }
    img{
        cursor: pointer;
    }
 #about{
    text-align: center;
 }

 li{
    list-style-type: none;
 }
 .navbar{
     width: 100%;
     height: 60px;
    margin: 0;
     background-color: rgb(130, 30, 0);
     display: flex;
     align-items: center;
     justify-content: space-between;
       }
       .navbar .logo a{
        font-size: 1.5rem;
        font-weight: bold;
       }
    #nav-button:hover{
        background-color: white;
       color:  rgb(130, 30, 0);
    }
    .navbar a{
        font-size: 12px;
        margin-right: 25px;
        color: white;
        cursor: pointer;
        transition: all 0.5s ease;
    }
 .navbar .links{
        display: flex;
        margin-top: 1px;
    }

    .navbar a:hover {
      transform: translateY(-5px);
    }
    #nav-button{
        background: transparent;
        border: 2px solid white;
        color: white;
        padding: 10px;
        border-radius: 30px;
        width: 120px;
        position: relative;
        top: -7px;
        cursor: pointer;
        transition: background-color,0.5s;
    }
    .navbar .toggle{
        margin-right: 35px;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    .dropdown_menu{
        margin-top: 2px;
        display: none;
       position: absolute;
       right: 2rem;
       top: 60px;
       width: 300px;
       background-color: rgb(130, 30, 0);
       backdrop-filter: blur(15px);
       border-radius: 10px;
       overflow: hidden;
       transition: all,0.5s ease;
    }
    .dropdown_menu li{
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
       transition: all,0.5s ease;

    }
    .dropdown_menu a{
        transition: all,0.5s ease;
        color: white;
    }
    .dropdown_menu a:hover{
        transform: translateY(-5px);
    }
    .dropdown_menu.open{
        display: block;
       transition: all,0.5s ease;
}
    .image .image-text{
        position: absolute;
        top: 40%;
        left: 30%;
        color: rgb(253, 244, 244);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
    .fa-x{
        font-size: 1rem;
        
    }
  
.text-after-image{
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  gap: 20px;
}
#orange-text{
    color: orangered;
    font-weight: bolder;
    font-size: 12px;
} 
.container{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style-type: none;

}
.footer{
    margin-top: 30px;
    background-color: black;
    padding: 70px 0;
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}   
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
} 
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li p{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left:10px;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left:10px;   
}
.footer-col .social-images a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-images a :hover{
    color: #24262b;
    background-color: white;
}
.massage-types{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top:50px;
    flex-wrap: wrap;
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}
.h1 p{
    text-align: justify;
    width: 80%;
    margin-top: 20px;
}
.card-image{
    border: 2px solid rgb(130, 30, 0);
    border-radius: 3px;
    font-family: 'Montserrat',sans-serif;
    background-color: rgb(130, 30, 0);
    padding: 5px;
    text-align: justify;
    box-shadow: 0px 2px 4px rgb(130, 30, 0) ;
}
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    margin-top:50px ;

}
iframe{
    width: 100%;
}
.card-image img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.card-image h4{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 15px;
    font-family: 'Headland One',Static;
}
.card-image p{
    width: 270px;
    text-align: justify;
    color: #ffffff;
    margin-left: 15px;
    margin-bottom: 20px;
   
}
.card-image .price{
    text-align: center;
    margin-left: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.fa-star{
    color: gold;
    padding-right: 10px;
}
.aboutus{
    width: 100%;
    display: flex;
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.aboutus img{
    width: 550px;
    height: 500px;
    object-fit: cover;
   margin-right: 10px;

}
.aboutus .description{
    border: 2px dotted rgb(130, 30, 0);
    padding-left: 10px;
    width: 63%;
}
.aboutus .description .h1{
    font-size: 35px;
    font-family: 'Poppins',serif;
    color: rgb(130, 30, 0);
}
.aboutus .description #first-desc{
margin-bottom: 50px;
font-family: 'Montserrat',sans-serif;
font-size: x-large;
}
.aboutus .description .second-desc{
  margin-left: 15px;
  font-weight: bolder;
  font-family: 'Montserrat',sans-serif;
}
.aboutus .description button{
        background-color: rgb(130, 30, 0);
        border: 2px solid white;
        color: white;
        padding: 10px;
        border-radius: 30px;
        width: 120px;
        margin-top: 30px;
        cursor: pointer;
        transition: background-color,0.5s;
        text-align: center;   
}
.aboutus .description button:hover{
    color: rgb(130, 30, 0);
    border: 2px solid rgb(130, 30, 0);
    background: transparent;
}
.to-top{
    background-color: rgb(130, 30, 0);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
   
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
}
.to-top i{
    color: rgb(221, 219, 219);
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

@media (max-width:750px){
    .aboutus img{
        width: 500px;
        height: 500px;
        object-fit: cover;
       margin-right: 10px;
      text-align: center;
    }
   
    .aboutus .description{
        border: 2px dotted rgb(130, 30, 0);
        padding-left: 10px;
        width: 100%;
    }
    .aboutus .description .h1{
        font-size: 17px;
        font-family: 'Poppins',serif;
        color: rgb(130, 30, 0);
    }
    .aboutus .description .second-desc{
        margin-left: 0px;
        font-weight: bolder;
        font-family: 'Montserrat',sans-serif;
      }
      .card-image img{
        width: 400px;
        height: 250px;
        object-fit: cover;
      }
      .card-image h4{
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-top: 40px;
          margin-bottom: 30px;
          margin-left: 15px;
          font-family: 'Headland One',Static;
      }
      .card-image p{
          width: 370px;
          text-align: justify;
          color: #ffffff;
          margin-left: 15px;
          margin-bottom: 20px;
         
      }
      .dropdown_menu{
        left: 2rem;
        width: unset;
      }
}
@media (max-width:992px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle{
        display: block;
    }
 .image .image-text{
        position: absolute;
        top: 50%;
        left: 10%;
        color: rgb(253, 244, 244);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
    .aboutus .description{
        border: 2px dotted rgb(130, 30, 0);
        padding-left: 10px;
        width: 50%;
    }
    .aboutus .description .h1{
        font-size: 17px;
        font-family: 'Poppins',serif;
        color: rgb(130, 30, 0);
    }
    .aboutus .description .second-desc{
        margin-left: 0px;
        font-weight: bolder;
        font-family: 'Montserrat',sans-serif;
      }
      .aboutus img{
        width: 420px;
        height: 500px;
        object-fit: cover;
       margin-right: 10px;
     
    }
}

@media (max-width:579px){
    .aboutus img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    
    }
  .aboutus .description{
        border: 2px dotted rgb(130, 30, 0);
        padding-left: 10px;
        width: 100%;
    }
    .card-image img{
        width: 300px;
        height: 250px;
        object-fit: cover;
      }
      .card-image h4{
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-top: 40px;
          margin-bottom: 30px;
          margin-left: 15px;
          font-family: 'Headland One',Static;
      }
      .card-image p{
          width: 250px;
          text-align: justify;
          color: #ffffff;
          margin-left: 15px;
          margin-bottom: 20px;
        }
   
        .text-after-image{
            display: flex;
            text-align: justify;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 85%;
            margin-left: 5%;
            margin-top: 5%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            gap: 20px;
          }
          .image img{
            width: 99.9%;
          }
}
@media (max-width :767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}


